@import 'color.scss';
@media only screen and (max-width: 1280px) {
    nav {
        ul {
            padding:20px 0;
            li {
                padding:10px 0;
            }
        }
    }
    section {
        padding: 0 35px;
        .section-wrapper {
            padding: 50px 0;
        }
    }
    .section-head {
        margin-bottom: 2rem;
        h1 {
            font-size: 7rem;
        }
        h2 {
            font-size: 2rem;
        }
    }
    .contact-info-wrapper {
        padding: 50px 60px;
        margin: 0 50px;
        gap:30px;
    }
}
@media only screen and (max-width: 1024px) { 
    .main-wrapper {
        margin-left: 0;
    }
    header {
        background: #111418c7;
        width: unset;
        right: 0;
        height: 70px;
        padding:0 20px;
        display: flex;
        align-items: center;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        ul {
            display: none;
            &.ta-open {
                display: flex;
                position: fixed;
                flex-flow: column;
                top:70px;
                left: 0;
                right: 0;
                background: rgba(0,0,0,.95);
                padding: 20px 20px;
                li {
                    justify-content: start;
                }
            }
        }
        .hamburger {
            width: 24px;
            height: 14px;
            display: inline-block;
            position: relative;

            .hamburger-inner {
                display: block;
                top: 50%;
                margin-top: -1px;
                width: 24px;
                height: 2px;
                background-color: $white;
                border-radius: 10px;
                position: absolute;
                transition: all .5s ease-in-out;
            }

            .hamburger-inner::before {
                content: '';
                width: 24px;
                height: 2px;
                background-color: $white;
                border-radius: 10px;
                position: absolute;
                transform: translateY(-7px);
                transition: all .5s ease-in-out;
            }

            .hamburger-inner::after {
                content: '';
                width: 24px;
                height: 2px;
                background-color: $white;
                border-radius: 10px;
                position: absolute;
                transform: translateY(7px);
                transition: all .5s ease-in-out;
            }
            &.ta-open {
                .hamburger-inner {
                    background: transparent !important;
                }
                .hamburger-inner::before {
                    transform: rotate(45deg);
                }
                .hamburger-inner::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .profile-card {
        margin-top: unset;
        display: flex;
        align-items: center;
        gap: 10px;
        .profile-image {
            border-width: unset;
            height: 50px;
            width: 50px;
            margin: unset;
        }
        .profile-name {
            margin-top: unset;
            h2 {
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}
@media only screen and (max-width: 960px) { 
    .section-head {
        h1 {
            font-size: 6rem;
        }
        h2 {
            font-size: 1.75rem;
        }
    }
    .about {
        .about-row1 {
            grid-template-columns: repeat(1,1fr);
            gap:50px;
            .about-row1-content {
                padding-right: 0;
            }
        }
    }
    .contact-info-wrapper {
        margin:0;
        padding: 40px 40px;
    }
}
@media only screen and (max-width: 768px) {
    .section-head {
        margin-bottom: 1.75rem;
        h1 {
            font-size: 4.75rem;
        }
    }
    .skill-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    .resume {
        .resume-item-wrapper {
            grid-template-columns: repeat(1,1fr);
        }
    }
    .contact-info-wrapper {
        flex-flow: column;
        align-items: center;
        text-align: center;
        .contact-head {
            margin-bottom: 6px;
        }
        .contact-social {
            justify-content: center;
        }
    }
}
@media only screen and (max-width: 570px) {
    section {
        padding:0 20px;
    }
    .home {
        .home-content-wrapper {
            h1 {
                font-size: 28px;
                margin-bottom: 5px;
            }
            p {
                font-size: 20px;
                margin-bottom: 12px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
    .section-head {
        h1 {
            font-size: 3.25rem;
        }
        h2 {
            font-size: 24px;
        }
    }
    .about {
        .about-row1 {
            gap:20px;
            .about-row1-content {
                h2 {
                    font-size: 1.25rem;
                }
            }
        }
    }
    .skill-wrapper {
        padding:30px 0 0 0;
    }
    .contact-info-wrapper {
        padding:20px;
        gap:20px;
    }
    .declaration-body {
        padding:20px 0 0 0;
    }
    footer {
        padding:20px;
        p {
            text-align: center;
        }
    }
}